*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Roboto,sans-serif;
}

body{
    background:#202124;
    color:#fff;
    overflow:hidden;
}

.topbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:65px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 25px;
    background:#202124;
    z-index:1000;
}

.left{
    display:flex;
    align-items:center;
    gap:15px;
}

.line{
    width:1px;
    height:22px;
    background:#555;
}

.left h3{
    font-size:20px;
    font-weight:400;
}

.right{
    display:flex;
    align-items:center;
    gap:15px;
}

.avatar{
    width:42px;
    height:42px;
    background:#8e24aa;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}

.more{
    background:none;
    border:none;
    color:#fff;
    font-size:22px;
    cursor:pointer;
}

.video-area{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

video{
    width:72%;
    max-width:1050px;
    border-radius:25px;
    background:#000;
    object-fit:cover;
    aspect-ratio:16/9;
}

.username{
    position:absolute;
    bottom:130px;
    left:18%;
    font-size:18px;
    background:rgba(0,0,0,.4);
    padding:6px 12px;
    border-radius:8px;
}

.reaction-bar{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:105px;
    background:#2b2b2b;
    padding:12px 25px;
    border-radius:30px;
    font-size:26px;
    display:flex;
    gap:15px;
}

.controls{
    position:fixed;
    left:50%;
    transform:translateX(-50%);
    bottom:20px;
    display:flex;
    gap:15px;
}

.control{
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    background:#3c4043;
    color:#fff;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
}

.control:hover{
    background:#5f6368;
}

.end{
    background:#ea4335;
}

.end:hover{
    background:#c62828;
}

@media(max-width:900px){

video{
    width:95%;
}

.username{
    left:30px;
}

.reaction-bar{
    font-size:20px;
    gap:10px;
    padding:10px 18px;
}

.control{
    width:52px;
    height:52px;
    font-size:20px;
}

}

@media(max-width:600px){

.left h3{
    font-size:15px;
}

.left{
    gap:8px;
}

video{
    width:100%;
    border-radius:0;
}

.reaction-bar{
    display:none;
}

.username{
    bottom:95px;
}

.controls{
    gap:8px;
}

.control{
    width:48px;
    height:48px;
    font-size:18px;
}

}